{% extends 'main.html' %}

{% block content %}
<div class="container mt-3">
    <div class="card p-3 mb-3">
        <div class="card-title">
            <h3>Add Student</h3>
        </div>
        <div class="card-body">
            <form action="" method="post">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-success">Edit</button>
                <a href="{% url 'home' %}" class="btn btn-danger">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock content %}